
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:black ;background-color:white">
    
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Sold Qty.</th>
                <th>Unit Price</th>
                <th>Sales Price</th>               
                <th>Total Profit</th>


            </tr>
        </thead>
        <tbody>
            @{
                var rep = ViewBag.x;
            }
            @{ int i = 1;}
            @foreach (var p in rep)
            {
                <tr>

                   
                    <td>@p.Code</td>
                    <td>@p.Name</td>
                    <td>@p.Category</td>
                    <td>@p.SoldQuantity</td>
                    <td>@p.CostPrice</td>
                    <td>@p.SalesPrice</td>
                    <td>@p.TotalProfit</td>

                </tr>
            }
        </tbody>
            

    </table>

