@model JesparWebApplication.Models.SupplierViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Mystyle
    {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

}


<div class="container">
    <div class="card">
        <div class="card-header mb-0">
            <b>SUPPLIER INFO</b>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <form method="post">

                    <div class="form-group row">
                        @*<label for="colFormLabel" class="col-sm-2 col-form-label">Code</label>*@

                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.Code)</label>
                        <div class="col-sm-10">
                            @*<td class="form-control"> @Html.TextBox("Code")</td>*@
                            @*<input type="text" name="Code" class="form-control">*@

                            @Html.TextBoxFor(c => c.Code, Model.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Code)
                            <input type="hidden" name="id" value="@Model.Id" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.Name)</label>
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.Name, Model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Name)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.Address)</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(c => c.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Address)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.Email)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(c => c.Email, Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Email)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.Contact)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(c => c.Contact, Model.Contact, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Contact)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">@Html.LabelFor(c => c.PersonContact)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(c => c.PersonContact, Model.PersonContact, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.PersonContact)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-3">

                            <input type="submit" value="Update" class="form-control btn btn-sm btn-primary">
                        </div>
                    </div>

                </form>
                <br />
                <br />
                <br />
                <br />
                <footer class="blockquote-footer">

                    Enter Supplier Info <cite title="Source Title">Get Message here....</cite>
                    @if (ViewBag.Message != null)
                    {
                        <h4 class="text-center text-primary">  @ViewBag.Message</h4>
                    }
                </footer>
            </blockquote>
        </div>
        <br />
        <br />

        @*@{
            Html.RenderPartial("~/Views/Shared/Supplier/_SupplierDetails.cshtml", Model);
        }*@


    </div>
</div>

@section MyScript
    {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}